%section.static-header
  %div.container
    -if @user.rsvps.count < 1
      %h1
        You have no events.  
    -else
      -@my_future_events.in_groups_of(3).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-4
              -if rsvp
                -if rsvp.no? or rsvp.event.expired? or rsvp.event.deleted?
                  .panel.dim{id: rsvp.hash_key.to_s + '_block'}
                    = render :partial => "upcoming_event_tile", :locals => {rsvp: rsvp}   
                -else
                  .panel{id: rsvp.hash_key.to_s + '_block'}
                    = render :partial => "upcoming_event_tile", :locals => {rsvp: rsvp}   



      %h2.sp-font
        Past Events                 
      -@my_prior_events.in_groups_of(4).each do |row|
        %div.row
          -row.each do |rsvp|
            %div.col-md-3
              -if rsvp
                -if rsvp.no? or rsvp.event.expired? or rsvp.event.deleted?
                  .panel.dim{id: rsvp.hash_key.to_s + '_block'}
                    = render :partial => "past_event_tile", :locals => {rsvp: rsvp}   
                -else
                  .panel{id: rsvp.hash_key.to_s + '_block'}
                    = render :partial => "past_event_tile", :locals => {rsvp: rsvp}   



  %center
    %h4{:id => 'link_to_deleted_events', :style => "display:" + (@hidden_rsvps.count > 0 ? 'normal' : 'none' ) + ';'}
      = link_to 'My Deleted Events', hidden_events_user_url(@user), :class => 'white-link'
  

%div.fill-footer

:javascript
  // On click for a button
  $(".event_trash_button").click(function(){
    // Get the id data attribute
    var id = $(this).data("id");
    var block = document.getElementById(id + '_block');
    var delete_link = document.getElementById('link_to_deleted_events');
    delete_link.style.display = 'block';
    block.remove();
    $.ajax({
      type: 'PATCH',
      url: '#{root_url}' + 'rsvps/' + id + '/hide'
    });
  });

  


