
%section.static-header
  %div.container
    %h1.static-header-title
      =@event.name
    %h3
      -if @event.status == Event::INITIALIZED
        You have created your event.  It's time to invite some people and finalize it!       
    = simple_form_for @event do |f|
      .panel.translucent
        .panel-body 
          - if @event.status == Event::INITIALIZED
            =f.input :name, :label => "Event Name", :placeholder => "Drinks at the Shack", :hint => "What are we doing?", :input_html => {:color => "black", :size => 40, :maxlength => 50}
            =f.input :threshold, :label => "Sipping Point", :hint => "Any fewer people than this, and it's just not a party.", :collection => 1..20
            =f.input :maximum_attendance, :label => "Maximum", :hint => "Any more people than this, and it's going to be too crowded.", :collection => 1..20, :prompt => "No Limit"
            =f.input :time, as: :string, :label => "Event Date & Time", :hint => "When is this event happening?"
            =f.input :deadline, as: :string, :label => "Deadline to RSVP", :hint => "If people don't answer by now, just assume they ain't going."
            = f.input :location
          = f.input :description
          = f.input :invitee_emails, as: :text, :hint => "Enter emails separated by a comma.", :placeholder => "stacy@example.com, john@example.com", label: "Invitation Emails" 
    
      %button.btn.btn-primary.btn-xl{:type => "submit"} Save and Send Invites!
:javascript

  var startDate = new Date;
  var deadline = new Date;
  //Saving date stuff
  startDate.setDate("#{@event.time.day}");
  startDate.setMonth("#{@event.time.month}" - 1);
  startDate.setYear("#{@event.time.year}");
  startDate.setHours("#{@event.time.hour}");
  startDate.setMinutes("#{@event.time.min}");

  deadline.setDate("#{@event.deadline.day}");
  deadline.setMonth("#{@event.deadline.month}" - 1);
  deadline.setYear("#{@event.deadline.year}");
  deadline.setHours("#{@event.deadline.hour}");
  deadline.setMinutes("#{@event.deadline.min}");


  $(document).ready(function() {
    // Now create the actual pickers
    $("#event_time").datetimepicker({
       format: 'D, M d g:i A',
       value: startDate,
       minDate: 0,
    });
    $("#event_deadline").datetimepicker({
       format: 'D, M d g:i A',
       value: deadline,
       minDate: 0
    });
  });
