
%section.static-header
  %div.container
    %div.row
      %h1.static-header-title
        =@event.name
    %div.row.h4
      -if @event.status == Event::INITIALIZED
        %div.col-md-2
        %div.col-md-8
          Let's finalize your event and invite some people.
        %div.col-md-2
    %div.row  
      %div.col-md-2
      %div.col-md-8
        =form_tag(event_path, method: "patch") do 
          .panel.translucent
            .panel-body
              .alert-text
                -if @event.errors.count > 0
                  =@event.errors.first.last  
              .panel-text{:style => "text-align: left;"}
                -if current_user == @event.owner
                  %div.row
                    %div.col-md-1
                    %div.col-md-10
                      %strong{:style => "font-size:20px"}
                        ="Event Name"
                  %div.row
                    %div.col-md-1
                    %div.col-md-5      
                      %input{:type => "string", :name => 'event[name]', :value => @event.name, :style=>"width:100%;", :maxlength => "100"}

                  - if @event.status == Event::INITIALIZED
                    %div.row.spacer
                      %div.col-md-1
                      %div.col-md-4
                        %strong{:style => "font-size:20px"}
                          ="Sipping Point"
                        %div.hint-text
                          Set the minimum number of attendees.
                      %div.col-md-4
                        %select{:name => "event[threshold]"}
                          =(2..20).to_a.each do |sp|
                            -if sp == @event.threshold
                              %option{:value => sp, :selected => 2}
                                =sp
                            -else
                              %option{:value => sp}
                                =sp
                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-4
                      %strong{:style => "font-size:20px"}
                        ="Maximum"
                      %div.hint-text
                        Optional: Set a max number of attendees.
                    %div.col-md-4
                      %select{:name => 'maximum_attendance'}
                        %option{:value => -1, :selected => 1}
                          ="No Limit"
                        =(2..20).to_a.each do |sp|
                          -if sp == @event.maximum_attendance
                            %option{:value => sp, :selected => 1}
                              =sp
                          -else
                            %option{:value => sp}
                              =sp

                  - if @event.status == Event::INITIALIZED
                    %div.row.spacer
                      %div.col-md-1
                      %div.col-md-10
                        %strong{:style => "font-size:20px"}
                          ="Event Date and Time"
                    %div.row
                      %div.col-md-1
                      %div.col-md-10
                        %input{:id => 'event_time', :readonly => "true", :type => "string", :name => 'event[time]', :value => @event.time.in_time_zone(@event.timezone), :maxlength => "500"}

                    %div.row.spacer
                      %div.col-md-1
                      %div.col-md-10
                        %strong{:style => "font-size:20px"}
                          ="Deadline to RSVP"
                        %div.hint-text
                          The event will be canceled unless the Sipping Point is reached by this time.
                    %div.row
                      %div.col-md-1
                      %div.col-md-10 
                        %input{:id => 'event_deadline', :readonly => "true", :type => "string", :name => 'event[deadline]', :value => @event.deadline.in_time_zone(@event.timezone), :maxlength => "500"}

                    %div.row.spacer.hidden
                      %div.col-md-1
                      %div.col-md-10
                        %input{:id => 'event_timezone', :readonly => "true", :type => "string", :name => 'event[timezone]', :value => "timezone_goes_here", :maxlength => "500"}

                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-10
                      %strong{:style => "font-size:20px"}
                        ="Location"
                  %div.row
                    %div.col-md-1
                    %div.col-md-10
                      %textarea{:type => "text", :name => 'event[location]', :rows => 2, :style=>"width:100%;", :maxlength => "500", :placeholder =>"Tell us where this event will be: e.g., Sligo Pub in Davis Square" }
                        =@event.location

                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-10
                      %strong{:style => "font-size:20px"}
                        ="Cover Photo"
                      %div.hint-text
                        Optional: Add a cover photo for your event.
                  %div.row
                    %div.col-md-1
                    %div.col-md-5      
                      %input{:id => "cover-photo", :type => "string", :name => 'event[cover_photo_url]', :value => @event.cover_photo_url, :style=>"width:100%;", :maxlength => "255", :placeholder => "http://myphoto.png"}

                  %div.row.event-cover.text-center.spacer#cover-photo-preview
                    -if @event.cover_photo_url
                      %img{src: @event.cover_photo_url}
                      %div.row.hint-text
                        Cover Photo Preview

                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-10
                      %strong{:style => "font-size:20px"}
                        ="Description"
                  %div.row
                    %div.col-md-1
                    %div.col-md-10
                      %textarea{:type => "text", :name => 'event[description]', :rows => 4, :style=>"width:100%;", :maxlength => "500", :placeholder => "Tell us about this event: e.g., Happy hour after work. You can include images by pasting the URL (jpg, png, gif)."}
                        =@event.description
                -unless @event.deadline_passed? or @event.deleted?     
                  -if current_user and current_user.my_people.count > 0
                    %div.row.spacer
                      %div.col-md-1
                      %div.col-md-10
                        %strong{:style => "font-size:20px"}
                          ="Invite Old Friends"
                    %div.row
                      %div.col-md-1
                      %div.col-md-10
                        %table.table.table-center.table-striped{id: 'invite-old', :style => "display: table; text-align: center;"}
                          %tr
                            %th{:style => "text-align:center;"}
                              Invite
                            %th{:style => "text-align:center;"}
                              Email
                            %th{:style => "text-align:center;"}
                              Name
                            %th{:style => "text-align:center;"}
                              Reliability
                            %th{:style => "text-align:center;"}
                              Unfriend
                          -current_user.my_people.each do |person|
                            %tr{id: person.id.to_s + "_row"}
                              %td   
                                %input.old-friend-checkbox.checkbox-full{:id => 'old-friend-' + person.id.to_s, :type => "checkbox", :name => '!!!email' + person.id.to_s, :value => person.id}
                              %td
                                =truncate(person.email, length: 30)
                              %td
                                =truncate(person.name, length: 30)
                              %td 
                                -reliability_factor = person.reliability_factor
                                -if reliability_factor
                                  =(reliability_factor * 100).round.to_s + "%"
                              %td.panel-text.unfriend_button{"data-id" => person.id}
                                %i.fa.fa-lg.fa-trash-o 
                        %table.table.table-center.table-striped{id: 'invite-old-m', :style => "display: none; text-align: center;"}
                          %tr
                            %th{:style => "text-align:center;"}
                              Invite
                            %th{:style => "text-align:center;"}
                              Old Friend
                          -current_user.my_people.each do |person|
                            %tr{id: person.id.to_s + "_row_m"}
                              %td   
                                %input.checkbox-m{:id=> 'old-friend-m-' + person.id.to_s, :type => "checkbox", :name => '!!!m-email' + person.id.to_s, :value => person.id}
                              %td
                                %div.row
                                  =truncate(person.display_name, length: 24)
                                -reliability_factor = person.reliability_factor
                                -if reliability_factor
                                  %div.row
                                    =(reliability_factor * 100).round.to_s + "% reliability"
                                %div.row.panel-text.unfriend_button{"data-id" => person.id}
                                  %i.fa.fa-lg.fa-trash-o 
                                  Unfriend

                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-10
                      %strong{:style => "font-size:20px"}
                        Invite New Friends
                      %div.hint-text
                        Typing emails is a huge pain, so we'll remember these emails in the future.
                      %div.hint-text
                        (Add as many as you want, separated by commas)
                  %div.row
                    %div.col-md-1
                    %div.col-md-10   
                      %textarea{:type => "text", :id => 'new_invitees', :style=>"width:100%;", :name => 'event[invitee_emails]', :value => @event.invitee_emails,  :rows => 5, :placeholder => "Enter emails separated by commas: e.g., derek@sippingpoint.net, georgepburdell@example.com"} 

                -if current_user == @event.owner and not @event.deleted? and not @event.deadline_passed?
                  %div.row.spacer
                    %div.col-md-1
                    %div.col-md-4
                      %strong{:style => "font-size:20px"}
                        Open
                      %div.hint-text
                        Open events allows invitees to invite their own friends.

                    %div.col-xs-2{:style => "font-size:20px;"}
                      %input{:type => "radio", :name => 'event[open]', :value => 1, :checked => @event.open}
                        Yes
                    %div.col-xs-2{:style => "font-size:20px;"}
                      %input{:type => "radio", :name => 'event[open]', :value => 0, :checked => !@event.open}
                        No 

                  %div.row.spacer
                    %div.col-md-1
                    %div{id: 'initial-cancel'}
                      %div.col-md-4
                        %strong{:style => "font-size:20px"}
                          Delete this Event
                        %div.hint-text
                          Caution! This action cannot be reversed.
                      %div.col-m-4{:style => "font-size:20px;"}
                        %div
                          %button.btn.btn-primary.btn-m{ "data-loading-text" => "Cancelling Event", :id => 'cancel', :type => "button"}
                            ="Delete"

                    %div{id: 'confirm-cancel', :style => "display: none;"}
                      %div.col-md-4
                        %strong{:style => "font-size:20px"}
                          Are you sure?
                        %div.hint-text
                          Think about it.
                      %div.col-md-2
                        %button.btn.btn-primary.btn-m{ "data-loading-text" => "Cancelling Event", :id => 'cancel-confirm', :type => "button"}
                          ="Yes, Delete"
                      %div.col-md-2
                        %button.btn.btn.btn-m{ "data-loading-text" => "Cancelling Event", :id => 'cancel_-ancel', :type => "button"}
                          ="No, Go Back"


          %button.btn.btn-primary.btn-xl{ "data-loading-text" => "Saving Event", :id => 'save_and_send', :type => "submit"} 
      
      %div.col-md-2   

:javascript

  var initial_button_text;

  //Responsive Stuff
  function respond(){
    if (window.innerWidth>=568) {
      $('#invite-old').show();
      $('#invite-old-m').hide();
    }
    else  {
      $('#invite-old').hide();
      $('#invite-old-m').show();
    }
  };

  window.onresize = function() {
    respond();
  };

  $(".checkbox-full").change(function() {
    var value = this.value;
    $("#old-friend-m-" + value).prop('checked', this.checked);
    updateButton();
  }); 

  $(".checkbox-m").change(function() {
    var value = this.value;
    $("#old-friend-" + value).prop('checked', this.checked);
    updateButton();
  }); 


  //Date Stuff
  var startDate = new Date;
  var deadline = new Date;

  startDate.setDate("#{@event.time.in_time_zone(@event.timezone).day}");
  startDate.setMonth("#{@event.time.in_time_zone(@event.timezone).month}" - 1);
  startDate.setYear("#{@event.time.in_time_zone(@event.timezone).year}");
  startDate.setHours("#{@event.time.in_time_zone(@event.timezone).hour}");
  startDate.setMinutes("#{@event.time.in_time_zone(@event.timezone).min}");

  deadline.setDate("#{@event.deadline.in_time_zone(@event.timezone).day}");
  deadline.setMonth("#{@event.deadline.in_time_zone(@event.timezone).month}" - 1);
  deadline.setYear("#{@event.deadline.in_time_zone(@event.timezone).year}");
  deadline.setHours("#{@event.deadline.in_time_zone(@event.timezone).hour}");
  deadline.setMinutes("#{@event.deadline.in_time_zone(@event.timezone).min}");


  // Un-Friend Stuff
  // On click for a button
  $(".unfriend_button").click(function(){

       // Get the id data attribute
       var unfriend_id = $(this).data("id");
       var row = document.getElementById(unfriend_id + '_row');
       var rowm = document.getElementById(unfriend_id + '_row_m')
       row.remove();
       rowm.remove();

       $.ajax({
        type: 'POST',
        url: '#{root_url}' + 'users/' + '#{@event.owner.id}' + '/unfriendships',
        data: JSON.stringify({'unfriend_id': unfriend_id}),
        contentType: "application/json"
       })
      .done(function(data) {
        console.log(data);
      });
  });

  $(document).ready(function() {
    // Setup TimeZone
    var timezone = jstz.determine();
    $('#event_timezone').attr('value', timezone.name());

    // Now create the actual pickers
    $("#event_time").datetimepicker({
       format: 'D, M d g:i A',
       value: startDate,
       minDate: 0,
    });
    $("#event_deadline").datetimepicker({
       format: 'D, M d g:i A',
       value: deadline,
       minDate: 0
    });

    if('#{@event.status == Event::INITIALIZED}' == 'true'){
      initial_button_text = "Create Event";
    }
    else{
      initial_button_text = "Update Event"; 
    }
    $('#save_and_send').text(initial_button_text); 
    respond();
  });

   $('#save_and_send').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    //$btn.button('reset')
  })

  //Change the button to say Send Invites, if emails are set to be sent
  $('#new_invitees').on('input propertychange paste', function() {
    updateButton();
  });

  function updateButton(){
    if($('#new_invitees').val() == '' && $('.old-friend-checkbox:checked').length == 0){
      $('#save_and_send').text(initial_button_text);
    }
    else{
      $('#save_and_send').text(initial_button_text + ' and Send Invites');
    }
  }

  // Handle Cover Photo Preview
  $( "#cover-photo" ).focusout(function() { 
    var url = $('#cover-photo').val();
    $('#cover-photo-preview').html("<img src=" + url + "><div class='row hint-text'>Cover Photo Preview</div>");
  })

  //Handle First Delete Button
  $("#cancel").on('click', function () {
    $("#initial-cancel").hide();
    $("#confirm-cancel").show();
  })

  //Nevermind Button
  $("#cancel-cancel").on('click', function () {
    $("#initial-cancel").show();
    $("#confirm-cancel").hide();
  })

  // Confirm The Delete
  $("#cancel-confirm").click(function(){
       $.ajax({
        type: 'POST',
        url: '#{root_url}' + 'events/' + '#{@event.hash_key}' + '/cancel',
        contentType: "application/json"
       })
      .done(function(data) {
        $(location).attr('href', '#{root_url}' + 'users/' +  '#{current_user.id}' + '/events' );
      });
  });




