%section.static-header
  %div.container
    %h1.static-header-title
      =@event.name  
    .panel.translucent
      .panel-body
        .panel-text
          %h3
            -if @event.status == Event::INITIALIZED
              ="This event has been created, but no one has been invited yet."
            -elsif @event.status == Event::OPEN
              ="This event is awaiting RSVPs"
            -elsif @event.status == Event::CONFIRMED
              ="This event has reached The Sipping Point!  It's officially happening!"
            -elsif @event.status == Event::EXPIRED
              ="This event failed to reach The Sipping Point.  It is canceled."
          -if @event.is_full_up?
            %h4
              %strong
                ="This event has reached maximum capacity."
          %hr
          %h4
            -unless @event.description.blank?
              =@event.html_description.html_safe

    %div.col-md-6
      %h2
        Event Details
      .panel.translucent
        .panel-body
          .panel-text
            %table.table.table-center
              %tr
                %td
                  Sipping Point
                %td
                  =@event.threshold.to_s + ' people'
              -if @event.maximum_attendance
                %tr
                  %td
                    Maximum
                  %td
                    =@event.maximum_attendance.to_s + ' people'
              %tr
                %td
                  Location
                %td
                  =@event.location
              %tr
                %td
                  Date & Time
                %td
                  =@event.display_time
              %tr
                %td
                  Deadline to Respond
                %td
                  -unless @event.deadline.nil?
                    =@event.display_deadline
          
          
          = link_to "http://www.google.com/calendar/event?action=TEMPLATE&text=" + @event.name + "&dates=" + @event.time.strftime("%Y%m%dT%H%M%S") +"/" + (@event.time + 7200).strftime("%Y%m%dT%H%M%S") + "&details=" + @event.description.to_s + "&location=" + (@event.location || ""), :target => "blank" do  
            %i.fa.fa-calendar.fa-stack-2x.panel-text
            %br
            %br
            ="Add to GCal"



      -if @event.rsvps.count > 0
        %h2
          Who's Coming?
        .panel.translucent
          .panel-body
            .panel-text
              .col-md-6
                %table.table.table-center
                  %tr
                    %td
                      Going
                    %td
                      =@event.rsvps.said_yes.count
                  %tr
                    %td
                      Not Going
                    %td
                      =@event.rsvps.said_no.count
                  %tr
                    %td
                      Unanswered
                    %td
                      =@event.rsvps.unanswered.count
              .col-md-6
                .very-large-font
                  =@event.rsvps_needed
                more needed to party
                .progress
                  -if @event.status == Event::CONFIRMED
                    .progress-bar.progress-bar-info{:role => "progressbar", :style => "width:" + @event.percent_complete.to_s + "%"}
                      =@event.percent_complete.round.to_s + "%"
                  -else 
                    .progress-bar.progress-bar-danger.progress-bar-striped.active{:role => "progressbar", :style => "width:" + @event.percent_complete.to_s + "%"}
                      =@event.percent_complete.round.to_s + "%"
                  
              %table.table.table-center.table-striped
                %tr
                  %th.text-center
                    Invitee
                  %th.text-center
                    Reliability
                  %th.text-center
                    Going?
                - @event.rsvps.each do |rsvp|
                  -unless rsvp.user.nil?
                    %tr
                      %td
                        -if current_user == rsvp.user
                          = rsvp.user.display_name || "" + " (Me)"
                        -else
                          = rsvp.user.display_name
                      %td
                        -reliability_factor = rsvp.user.reliability_factor
                        -if reliability_factor
                          =(reliability_factor * 100).round.to_s + "%"
                      %td
                        -if current_user == rsvp.user or @comment_as == rsvp.user
                          -if rsvp.response == 1
                            = link_to 'Yes', edit_rsvp_url(rsvp)
                          -elsif rsvp.response == 0
                            = link_to 'No', edit_rsvp_url(rsvp)
                          -else
                            = link_to 'Click to Respond', edit_rsvp_url(rsvp)
                        -else
                          -if rsvp.response == 1
                            ="Yes"
                          -elsif rsvp.response == 0
                            ="No"
                          -else
                            -if current_user == @event.owner and @event.time > Time.now - 2.hours
                              %div
                                %button.btn.btn-xs.reminder_button{"data-id" => rsvp.hash_key }
                                  Send Reminder
                              %div{:id => (rsvp.hash_key + '_message'), :style => "font-size: 10px;"}
                                =rsvp.reminded_time_string
                            -else
                              =""

      -if current_user == @event.owner and @event.rsvps.count == 0
        %a.btn.btn-primary.btn-xl{:href => edit_event_path(@event)} Let's invite some people!
      - if current_user == @event.owner and @event.rsvps.count > 0
        %a.btn.btn-primary.btn-xl{:href => edit_event_path(@event)} Edit Details                    

    %div.col-md-6
      %h2  
        Comments
      -if @rsvp
        %div.checkbox
          %label
            %input{:id => 'comments_email_checkbox', :type => "checkbox", :value => "", :checked => @rsvp.wants_comments_emails}
            ="Let me know when new comments are made on this event."
        %div{:id => 'checkbox_message'}

      -if @comments.count == 0
        ="Be the first to leave a comment"
      -else
        -@comments.each do |comment|
          .panel.translucent{id: 'global_comment_' + comment.id.to_s}
            .panel-body 
              %div
                .col-md-6
                  .message-header-text
                    =comment.user.display_name
                .col-md-6
                  .message-time-text
                    =comment.created_at.strftime("%B %-d, %Y at %-I:%M%p")
              %div{id: 'comment_' + comment.id.to_s}
                .col-md-12
                  .message-body-text
                    -unless comment.body.blank?
                      =comment.body.html_safe
              -if comment.user == current_user
                %div{id: 'comment_buttons_' + comment.id.to_s}
                  .col-md-5
                  .col-md-2.panel-text
                    .message-header-text.edit_comment_button{"data-id" => comment.id.to_s, :style => 'cursor:pointer;'}
                      %i.fa.fa-edit
                      Edit
                  .col-md-5
                %div{id: 'edit_comment_buttons_' + comment.id.to_s, :style => "display:none;"}
                  .col-md-2
                  .col-md-4.panel-text
                    .message-header-text.delete_comment_button{"data-id" => comment.id.to_s, :style => 'cursor:pointer;'}
                      %i.fa.fa-close
                      Delete
                  .col-md-4.panel-text
                    .message-header-text.update_comment_button{"data-id" => comment.id.to_s, :style => 'cursor:pointer;'}
                      %i.fa.fa-check-square-o
                      Update
                  .col-md-2


      -unless @comment_as.nil?
        = simple_form_for @new_comment do |f|
          .panel.translucent
            .panel-body 
              =f.input :body, label: false, :input_html => {:style=> 'width: 100%'}
              =f.hidden_field :commentable_id, value: @event.id
              =f.hidden_field :commentable_type, value: "Event"
              =f.hidden_field :user_id, value: @comment_as.id 
              =f.hidden_field :rsvp_hash_key, value: @rsvp_hash_key
              %button.btn.btn-primary{:type => "submit"} Comment
      -else
        .panel.translucent
          .panel-body.panel-text
            Login to leave comments on this event.

:javascript

  // Turning comment alerts on and off
  document.getElementById('comments_email_checkbox').onclick = function() {
    var chkBox = document.getElementById('comments_email_checkbox');
    var is_checked = chkBox.checked;
      $.ajax({
        type: 'PATCH',
        url: '#{ update_email_comments_setting_rsvp_path(@rsvp || 1) }',
        data: { email_setting: chkBox.checked},
      });

    if(is_checked)
    {
      document.getElementById('checkbox_message').innerHTML = "Awesome! We will email you when new comments are made.";
    }  
    else
    {
      document.getElementById('checkbox_message').innerHTML = "You will no longer receive emails when new comments are made.";
    }
  }

  // Reminder Button 
  $(".reminder_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");
       $.ajax({
        type: 'GET',
        url: '#{root_url}' + 'rsvps/' + id + '/rsvp_reminder'
       })
       .done(function(data) {
        console.log(data);
        document.getElementById(id + '_message').innerHTML = data['message'];
       });
  });


  //Go into Edit mode
  $(".edit_comment_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");

       var button_div = document.getElementById('comment_buttons_' + id)
       button_div.style.display = 'none';
       
       var edit_button_div = document.getElementById('edit_comment_buttons_' + id)
       edit_button_div.style.display = 'block';
       //$.ajax({
       // type: 'PATCH',
       // url: '#{root_url}' + 'rsvps/' + id + '/hide'
       //});
  });

  //Delete a comment
  $(".delete_comment_button").click(function(){
       // Get the id data attribute
       var id = $(this).data("id");

       var global_div = document.getElementById('global_comment_' + id)
       global_div.style.display = 'none';

       $.ajax({
        type: 'DELETE',
        url: '#{root_url}' + 'comments/' + id + '/delete'
       });
  });
       



                


